body {
    background-color: #f8f9fa;
}

.bg-orange-subtle {
    background-image: linear-gradient(45deg, #fda049, #ffdf9a);
}

/* .navbar {
    background-color: #fd8d0d !important;
} */

.navbar-brand {
    font-weight: bold;
    color: #ffffff !important;
}

.search-btn {
    background: #fd8d0d;
    color: white;
}

.search-btn:hover {
    background: #d1740a;
    color: rgb(211, 211, 211);
}

footer {
    color: white;
    padding: 20px 0;
    margin-top: 40px;
    border-top: 1px solid #dee2e6;
    text-align: center;
}